<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<!--本地仓库。该值表示构建系统本地仓库的路径。其默认值为~/.m2/repository。-->
	<localRepository>E:\GitHub\maven-repo</localRepository>
  
	<!--Maven是否需要和用户交互以获得输入。如果Maven需要和用户交互以获得输入，则设置成true，反之则应为false。默认为true。-->  
	<interactiveMode>true</interactiveMode>
	<!--表示Maven是否需要在离线模式下运行。如果构建系统需要在离线模式下运行，则为true，默认为false。当由于网络设置原因或者安全因素，构建服务器不能连接远程仓库的时候，该配置就十分有用。 -->  
	<offline>false</offline> 
	<!--当插件的组织Id（groupId）没有显式提供时，供搜寻插件组织Id（groupId）的列表。该元素包含一个pluginGroup元素列表，每个子元素包含了一个组织Id（groupId）。当我们使用某个插件，并且没有在命令行为其提供组织Id（groupId）的时候，Maven就会使用该列表。默认情况下该列表包含了org.apache.maven.plugins。 -->  
	<pluginGroups>
		<pluginGroup>org.mortbay.jetty</pluginGroup>
		<pluginGroup>org.apache.maven.plugins</pluginGroup>
    </pluginGroups>
	
	<!--配置服务端的一些设置。一些设置如安全证书不应该和pom.xml一起分发。这种类型的信息应该存在于构建服务器上的settings.xml文件中。-->  
	<servers>
	
		<!--服务器元素包含配置服务器时需要的信息 -->  
		<server>  
			<!--这是server的id（注意不是用户登陆的id），该id与distributionManagement中repository元素的id相匹配。-->  
			<id>zmage-snapshots</id>  
			<!--鉴权用户名。鉴权用户名和鉴权密码表示服务器认证所需要的登录名和密码。 -->  
			<username>developer</username>  
			<!--鉴权密码 。鉴权用户名和鉴权密码表示服务器认证所需要的登录名和密码。 -->  
			<password>123</password>
		</server>
		
		<server>  
			<!--这是server的id（注意不是用户登陆的id），该id与distributionManagement中repository元素的id相匹配。-->  
			<id>thirdparty</id>  
			<!--鉴权用户名。鉴权用户名和鉴权密码表示服务器认证所需要的登录名和密码。 -->  
			<username>admin</username>  
			<!--鉴权密码 。鉴权用户名和鉴权密码表示服务器认证所需要的登录名和密码。 -->  
			<password>pzh</password>  
		</server>
		
	</servers>

	<!--为仓库列表配置的下载镜像列表。 -->  
	<mirrors>
		<!--给定仓库的下载镜像。 -->  
		<mirror>  
			<!--该镜像的唯一标识符。id用来区分不同的mirror元素。 -->  
			<id>zmage</id>  
			<!--镜像名称 -->  
			<name>Public Repositories</name>
			<!--该镜像的URL。构建系统会优先考虑使用该URL，而非使用默认的服务器URL。 -->  
			<url>http://localhost:8081/nexus/content/groups/zmage/</url>  
			<mirrorOf>*</mirrorOf>  
		</mirror>
	</mirrors>
	
	<profiles>  
		<!--根据环境参数来调整的构件的配置-->  
		<profile>
			<id>jdk1.7.0_75</id>

			<activation>
				<activeByDefault>true</activeByDefault>  
				<jdk>1.7</jdk>
			</activation>

			<properties>   
				<maven.compiler.source>1.7</maven.compiler.source>   
				<maven.compiler.target>1.7</maven.compiler.target>   
				<maven.compiler.compilerVersion>1.7</maven.compiler.compilerVersion>   
			</properties>    
		</profile>
		
		<profile>
			<id>nexus</id>
			<repositories>
				<repository>
					<id>central</id>
					<url>http://localhost:8081/nexus/content/groups/zmage</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://localhost:8081/nexus/content/groups/zmage</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>nexus</activeProfile>
	</activeProfiles>
</settings>