<!-- shopStoreNavAllWidget 全分类导航插件--导航插件 -->
<script id="store_nav_all_style0_tmpl" type="text/x-jquery-tmpl">
	<div class="nav_style0_main_content">
		{{each(i, class1) nav_data.StoreNavClass1}}
		<div class="nav_style0_content">
			<ul class="nav_style0_title">
				<li class="class1" class1_id="${class1.ID}"><a href="javascript:void(0);">${class1.Name}</a></li>
			</ul>
			<div class="nav_style0_class">
				{{each(j, class2) class1.StoreNavClass2}}
				<div class="nav_style0_a">
					<table style="width:100%;overflow:hidden;">
						<tr>
							<td style="width:30%;overflow:hidden;background:#f2f2f2;"><div class="class2 nav_FIRST" class2_id="${class2.ID}"><a href="javascript:void(0)">${class2.Name}</a></div></td>
							<td style="width:70%;overflow:hidden;background:#fff;"><div class="nav_TWO">
								{{each(k, class3) class2.StoreNavClass3}}
									<em class="class3" class3_id="${class3.ID}"><a href="javascript:void(0);">${class3.Name}</a></em>
								{{/each}}
							</div></td>
						</tr>
					</table>
				</div>
				{{/each}}
			</div>
		</div>
		{{/each}}
	</div>
</script>

<script id="store_nav_all_style1_tmpl" type="text/x-jquery-tmpl">
	<div class="nav_style1_main_content">
		<ul class="nav_style1_content nav_style1_color1">
			{{each(i, class1) nav_data.StoreNavClass1}}
				<li class="class1 nav_style1_content_li nav_style1_content_li_noborder" class1_id="${class1.ID}"><p class="nav_p"><a href="javascript:void(0);">${class1.Name}</a></p><div class="nav_style1_button_arrow icon_nav_arrow"></div></li>
			{{/each}}
		</ul>
		{{each(i, class1) nav_data.StoreNavClass1}}
		<div class="nav_style1_sub patt_border_leftnav" style="display: none;">
			{{each(j, class2) class1.StoreNavClass2}}
			<dl class="nav_style1_sub_class2">
				<dt class="class2" class2_id="${class2.ID}"><a href="javascript:void(0);">${class2.Name}</a></dt>
				<dd>{{each(k, class3) class2.StoreNavClass3}}
					<em class="class3" class3_id="${class3.ID}"><a href="javascript:void(0);">${class3.Name}</a></em>
					{{/each}}
				</dd>
			</dl>
			{{/each}}
		</div>
		{{/each}}
	</div>
</script>

<script id="store_nav_all_style2_tmpl" type="text/x-jquery-tmpl">
	<div class="nav_style2_main_content">
		<ul class="nav_style2_content">
			{{each(i, class1) nav_data.StoreNavClass1}}
			<li class="nav_style2_content_li_noborder">
				<div class="nav_style2_class1 class1" class1_id="${class1.ID}"><p class="nav_p"><a href="javascript:void(0);">${class1.Name}</a></p></div>
				{{each(j, class2) class1.StoreNavClass2}}
					{{each(k, class3) class2.StoreNavClass3}}
					<div class="nav_style2_class3 class3" class3_id="${class3.ID}"><p class="nav_p_hover"><a href="javascript:void(0);">${class3.Name}</a></p></div>
					{{/each}}
				{{/each}}
			</li>
			{{/each}}
		</ul>
	</div>
</script>

<script id="store_nav_all_style3_tmpl" type="text/x-jquery-tmpl">
	<div class="nav_style3_main_content">
		<ul class="nav_style1_content nav_style1_color1">
			{{each(i, class1) nav_data.StoreNavClass1}}
				<li class="class1 nav_style1_content_li nav_style1_content_li_noborder" class1_id="${class1.ID}"><div class="nav_style3_p"><a href="javascript:void(0);">${class1.Name}</a></div><div class="nav_style1_button_arrow icon_nav_arrow"></div></li>
			{{/each}}
		</ul>
		{{each(i, class1) nav_data.StoreNavClass1}}
			<div class="nav_style1_sub patt_border_leftnav" style="display: none;padding:0px;width:420px;">
				<table width="100%">
					<tr width="100%" height="100%">
						<td style="vertical-align:top;background:#f2f2f2;width:100px;">
							<div class="nav_style3_SubClass2">
								{{each(j, class2) class1.StoreNavClass2}}
									{{if j == 0}}
										<div class="nav_style3_SubClass2_select class2 checked" class2_id="${class2.ID}"><a class="nav_style3_class2_a" href="javascript:void(0);">${class2.Name}</a><div class="icon_arrow_NavClass2"></div></div>
									{{else}}
										<div class="nav_style3_SubClass2_select class2" class2_id="${class2.ID}"><a class="nav_style3_class2_a" href="javascript:void(0);">${class2.Name}</a><div class="icon_arrow_NavClass2" style="display:none"></div></div>
									{{/if}}
								{{/each}}
							</div>
						</td>
						<td style="vertical-align:top;background:#fff;">
							<div class="nav_style3_SubClass3">
								{{each(j, class2) class1.StoreNavClass2}}
								<dl class="nav_style1_sub_class2" {{if j != 0}} style="display:none" {{/if}}>
									<dd>
										{{each(k, class3) class2.StoreNavClass3}}
										<em class="class3" class3_id="${class3.ID}"><a href="javascript:void(0);">${class3.Name}</a></em>
										{{/each}}
									</dd>
								</dl>
								{{/each}}
							</div>
						</td>
					</tr>
				</table>
			</div>
		{{/each}}
	</div>
</script>


<script id="store_nav_all_style4_tmpl" type="text/x-jquery-tmpl">
	<div class="nav_style4_main_content">
		<div class="nav_style1_content nav_style4_Class12_box">
			<div class="nav_style1_contentBg">
			{{each(i, class1) nav_data.StoreNavClass1}}
				<div class="nav_style4_Class12">
					<div class="class1 nav_style1_content_li" class1_id="${class1.ID}" style="border-bottom:none"><p><a href="javascript:void(0);">${class1.Name}</a></p><div class="nav_style1_button_arrow icon_nav_arrow1"></div></div>
					<ul class="nav_style4_Class2">
						{{each(j, class2) class1.StoreNavClass2}}
							<li class="class2" class2_id="${class2.ID}"><a href="javascript:void(0)">${class2.Name}</a></li>
						{{/each}}
					</ul>
				</div>
			{{/each}}
			</div>
			{{each(i, class1) nav_data.StoreNavClass1}}
			<div class="nav_style1_sub patt_border_leftnav" style="display: none;">
				{{each(j, class2) class1.StoreNavClass2}}
				<dl class="nav_style1_sub_class2">
					<dt class="class2" class2_id="${class2.ID}"><a href="javascript:void(0);">${class2.Name}</a></dt>
					<dd>{{each(k, class3) class2.StoreNavClass3}}
						<em class="class3" class3_id="${class3.ID}"><a href="javascript:void(0);">${class3.Name}</a></em>
						{{/each}}
					</dd>
				</dl>
				{{/each}}
			</div>
			{{/each}}
		</div>
	</div>
</script>
