/*���ذ�ť*/
.Tab_ReturnIcon{width:29px;height:43px;background:url(../images/SubIcon_Style1.png) no-repeat 0 -179px;margin-top:8px;margin-left:35px;}
.Tab_Cancel, .Tab_Login, .Tab_Return {color:#fff;}

/*�ײ�*/
.ToolbarBox{border-top:1px solid #fff;box-shadow: 0 -2px 3px -2px #222;}
.ToolbarBg{background-color:#fff;}
.Toolbar_Index{color:#4d4b49;width:20%;height:25px;padding-top:10px;}
.Toolbar_PayBox .Toolbar_IndexIcon {background-image:url(../images/SubIcon_Style1.png);background-repeat:no-repeat;background-position:-24px 12px;}

/*����-��ɫ����*/
.plugin_containers {background:#fff;}

/*�ײ�-��ҳͼ��*/
.Toolbar_IndexIcon_checked{width:46px;height:46px;background:url(../images/SubIcon_Style1.png) no-repeat -41px 0px;margin:0 auto;}
/*�ײ�-����ͼ��*/
.Toolbar_SearchIcon_checked{width:46px;height:46px;background:url(../images/SubIcon_Style1.png) no-repeat -169px 0px;margin:0 auto;}
/*�ײ�-����ͼ��*/
.Toolbar_SortIcon_checked{width:46px;height:46px;background:url(../images/SubIcon_Style1.png) no-repeat -297px 0px;margin:0 auto;}
/*�ײ�-���ﳵͼ��*/
.Toolbar_CartIcon_checked{width:46px;height:46px;background:url(../images/SubIcon_Style1.png) no-repeat -425px 0px;margin:0 auto;}
/*�ײ�-�ҵ�ͼ��*/
.Toolbar_VIPIcon_checked{width:46px;height:46px;background:url(../images/SubIcon_Style1.png) no-repeat -553px 0px;margin:0 auto;}

/*�޸�����-input��*/
.Register_Input1 input{background:#fafafa}

/*��Ʒ����*/
.Logon_Box {box-shadow:none;background:#fafafa}

/*���¼�ͷ*/
.SortList .TitleName_Icon{background:url(../images/Arrow_bottom1.png) no-repeat;}
.SortList .TitleName_Icon_sel{background:url(../images/Arrow_top1.png) no-repeat;}

/*������Ʒ-���������򱳾�*/
.GoodsSearch_Bg{background:#ebebeb;border-bottom:1px solid #d1d1d1;border-top:1px solid #d1d1d1}
/*.MainBox {background:#fff;}*/
.GoodsSearch_Volume{background:url(../images/Arrow_bottom1.png) no-repeat 20px 32px}
.GoodsSearch_New{background:url(../images/Arrow_bottom1.png) no-repeat 20px 32px}
.GoodsSearch_RMBHign{background:url(../images/Arrow_top1.png) no-repeat 20px 32px}
.GoodsSearch_RMBLow{background:url(../images/Arrow_bottom1.png) no-repeat 20px 32px}
.GoodsSearch_Volume, .GoodsSearch_New, .GoodsSearch_RMBHign, .GoodsSearch_RMBLow {color:#87888C}
.GoodsSearch_Volumechecked{background:url(../images/Arrow_bottom1_Checked.png) no-repeat 20px 32px}
.GoodsSearch_Newchecked{background:url(../images/Arrow_bottom1_Checked.png) no-repeat 20px 32px}
.GoodsSearch_RMBHignchecked{background:url(../images/Arrow_top1_Checked.png) no-repeat 20px 32px}
.GoodsSearch_RMBLowchecked{background:url(../images/Arrow_bottom1_Checked.png) no-repeat 20px 32px}
.GoodsSearch_Volumechecked, .GoodsSearch_Newchecked, .GoodsSearch_RMBHignchecked, .GoodsSearch_RMBLowchecked {color:#dc2625;position:relative;font-weight:bold}

/*��Ʒ����ҳ-���ⱳ��*/
.GoodsDetailsBox {background:#fff;padding-bottom:30px;}
.GoodsDetails_Box .checked .GoodsSearchIcon{width:53px;height:18px;background:url(../images/GoodsSearch.png);position:absolute;bottom:0px;left:50px;}
.GoodsDetails_Bg{width:100%;height:86px;background:url(../images/GoodsSearchBg.png);margin-bottom:30px;}

.GoodsInfo_Box{width:auto;overflow:hidden;margin-left:15px;margin-right:15px;background:#fff;position:relative;margin-bottom:30px;}
.Toolbar_Pay{background:#ff9600}
.Toolbar_Buy{background:#dc2625}
.GoodsDetails_Bg {background:#f0f0f0;}
.GoodsDetails_Box .checked .GoodsSearchIcon {width:100%;height:2px;background:#dc2625;position:absolute;left:0;bottom:0;}
.GoodsInfo_PropertyNumber {background:#f0f0f0}
.GoodsInfo_PropertySelect li {background:#f0f0f0;padding:10px 5px;}
.GoodsInfo_PropertySelect .checked {background:#fff;}
.GoodsInfo_Property {width:auto;overflow:hidden;margin:0 15px;}
.GoodsInfo_Content {border:1px solid #d1d1d1;border-top:none}
/*.Goods_UnfoldIcon {background:url(..\images\Arrow_right1.png)}*/

/*���ﳵ*/
.Cart_GoodsBg {box-shadow:none}

/*��¼*/
.CooperationBox {width:355px;overflow:hidden;margin:0 auto;margin-top:30px;}
.Register_Input input {background:#fafafa;}
.Logon_Submit {background:#dc2625}
.Logon_QQ,.Logon_Sina,.Logon_RenRen,.Logon_Paypal{width:66px;height:66px;font-size:28px;color:#a1a1a1;text-indent:90px;float:left;margin-right:30px;}
.Logon_Paypal {margin-right:0px;background:url(../images/Logon_Paypal1.png) no-repeat 0px 0px;}
.Logon_QQ{background:url(../images/Logon_QQ1.png) no-repeat 0px 0px;}
.Logon_Sina{background:url(../images/Logon_Sina1.png) no-repeat 0px 0px;}
.Logon_RenRen{background:url(../images/Logon_RenRen1.png) no-repeat 0px 0px;}
.GoodsContent_Time .order_complete {background:#dc2625;}
.TitleNameBox_OrderAdd .TitleName_Icon {width:36px;height:22px;background:url(../images/Arrow_bottom.png) no-repeat;position:absolute;top:50px;right:25px;}
.TitleNameBox_OrderAdd .TitleName_Icon_sel {width:36px;height:22px;background:url(../images/Arrow_top.png) no-repeat;position:absolute;top:50px;right:25px;}

/*ȥ���㰴ť*/
.Toolbar_ClearButton{background:#dc2625;}

/*�ۿۿ�ʹ�ð�ť*/
.OrderPay_SaleUse{background:#dc2625;}

/*��Ա����-�������ť*/
.GoodsContent_Time .order_pay {background:#dc2625;}
